<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <title>Albums</title>
    <link rel="Music Icon" href="assets/logo.png" />
    <link rel="stylesheet" href="style/reset.css" />
    <link rel="stylesheet" href="style/general.css" />
    <link rel="stylesheet" href="style/index.css" />
  </head>
  <body>
    <header>
      <img src="assets/logo.png" alt="Logo" />
    </header>
    <main>
      <div>
        <h1
          th:text="'Hello You Are using: '+${browser} + 'With: ' + ${OS} +'OS'"
        ></h1>
      </div>
    </main>
    <footer>
      <p>This content was created by Mamoun Hussein &copy; 2021 LTUC</p>
    </footer>
  </body>
</html>
